body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

.pic {
    width: 400px;
    height: 400px;
    border: 3px solid black;
    object-fit: cover;
}